:root {
    --main-text-cl: #000000;
    --main-color: tomato;
}

.discripsion {
    background-color: aqua;
    display: block;
    width: 200px;

}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    border: 1px solid black;
    margin-bottom: 20px;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-left: auto;
    padding-right: auto;

}

/* .but {
    display: inline-flex;
    align-items: center;
    border: 1px solid blueviolet;
    border-radius: 5px;
    background-color: crimson;
} */

.but-test {
    position: relative;
    display: inline-flex;
    padding: 25px 50px;
    margin: 0;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;

}


.but-test::before, .but-test::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    transition: transform 3s;
    transition-delay: 1s;
    background-position: center;
    background-size: cover;
}

.but-test::before {
    background-image: url(../image/antenna.svg);
}

.but-test:hover::before {
    transform: translateY(-55px);

}

.but-test::after {
    position: absolute;
    background-image: url(../image/astronaut.svg);
    transform: translateY(55px);
    
}

.but-test:hover::after {
    transform: translateY(0px);
}

.flex-elements {
    display: flex;
    justify-content: start;
    align-items: center;
}
